<% form_for :summer_student, @student  do |f| %>
<p>Student Name: <%= f.text_field :name, :size => 20 %></p>

<p>
	School:
<% for school in @schools
		checked = (school == @student.summer_school) ? 'checked="checked"' : ''
%>
		<input type="radio" name="summer_student[summer_school_id]" value="<%= school.id %>" id="<%= school.name %>" <%= checked %> /><label for="<%= school.name %>"> <%= school.name %></label>
<% end %>
</p>

<p>Lesson Duration: <%= f.text_field :lesson_duration, :size => 10 %> minutes</p>

<p>
	Available Time Format: 1pm-2pm, 9am-3:15pm<br />
	Leave blank if the student is not available on that day
</p>

<table class="calendar">
	<thead>
	<tr>
		<th width="30">Week</th>
		<th>Sunday</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
	</tr>	
	</thead>
	<tbody>
<%
  @numberofweeks.times do |week|
%>
		<tr>
			<th><%= week + 1 %></th>
<%
	7.times do |day|
		today = @startdate + ((week * 7) + day)
		if @schedule[today.yday].nil?
			td_class = "not_active"
			active = false
		else
			td_class = "active"
			active = true
		end	
%>
			<td class="<%= td_class %>" valign="top" height="80">
				<div class="date"><%= today.strftime('%m/%d') %></div>
				<% if active %>
				
				Time:<br />
				<textarea name="schedule[<%= today.yday %>]" rows="2" class="time"><%= @schedule[today.yday] %></textarea>
				<% end %>
			</td>
<% 
    end
%>
		</tr>
<% end %>
	</tbody>
</table>

<p>
	<input type="submit" value="Save Schedule" />
</p>

<input type="hidden" name="year" value="2008" />

<% end %>
