<div id="side_list">
	<h3>Student List</h3>
	<ul>
	<% for student in @students %>
		<li>
			<table cellspacing="0" cellpadding="0" border="0"><tr><td>
				<input type="checkbox" class="checkbox" id="st_check_<%= student.id %>" title="<%= student.id %>" onclick="return update_calendar(<%= student.id %>, this);" />
			</td><td>
				<label for="st_check_<%= student.id %>"><div class="studentname" style="background-color: #<%= @colors[student.id % 21] %>;"><%= student.name %></div></label>
			</td><td>
				<span id="lesson_count_<%= student.id %>"><%= 10 - @student_lessons[student] %></span>
			</td><td>
				&nbsp;<small><%= link_to "edit", :action => "summer_add", :id => student.id %></small>
			</td></tr></table>
		</li>
	<% end %>
	</ul>
	<p><small><a href="#" onclick="$$('input.checkbox').each(function (cb) { cb.checked = true; update_calendar(cb.title, cb); }); return false;">select all</a> | <a href="#" onclick="$$('input.checkbox').each(function (cb) { cb.checked = false; update_calendar(cb.title, cb); }); return false;">select none</a></small></p>
	
	<p><small><a href="/admin/summer_add"><img src="/images/icons/add_small.png" class="icon" /> Add a New Student</a></small></p>

	<h3>Jump to Week</h3>
	<p>
	<% @numberofweeks.times do |week| %>
		<small><a href="#week<%= week %>"><%= week+1 %></a></small>
	<% end %>
	</p>
	
	<h3>Legend</h3>
	<div class="legend" style="background-color: #e2fde6;">Your CIFA schedule</div>
	<div class="legend" style="background-color: #e6edf2;">Your CHMS schedule</div>
	<div class="legend" style="background-color: #ffcccc;">Lesson occupied</div>

</div>

<div id="calendar_table">
<table class="calendar main">
	<thead>
	<tr>
		<th width="30">Week</th>
		<th width="10">hrs</th>
		<th class="flex">Monday</th>
		<th class="flex">Tuesday</th>
		<th class="flex">Wednesday</th>
		<th class="flex">Thursday</th>
		<th class="flex">Friday</th>
	</tr>	
	</thead>
	<tbody>
<%
  @numberofweeks.times do |week|
%>
		<tr><td><a name="week<%= week %>"></a></td></tr>
		<tr>
			<th>
			<%= week + 1 %></th>
			<td  style="padding-top: 17px" valign="top">
				<% for i in (@day_start..@day_end)
						t = (i > 11) ? "#{i-12}pm" : "#{i}am"
						t = "12pm" if i == 12
				%>
					<div style="border-top: 1px solid silver; height: 31px; text-align:right; font-size:10px; background-color:rgb(232, 238, 247);"><%= t %></div>
				<% end %>
			</td>
<%
	for day in (1..5)
		today = @startdate + ((week * 7) + day)
		if @schedule[today.yday].nil?
			td_class = "not_active"
			active = false
		else
			td_class = "active"
			active = true
		end	
%>
		<td class="<%= td_class %>" valign="top">
			<div class="date"><%= today.strftime('%m/%d') %></div>
			<% for i in (@day_start..@day_end)
					bgcolor = ""

					for hours in @teaching_hours
						if active and i >= hours[day][0] and i < hours[day][1]
							bgcolor = "background-color: #{hours[:color]};"
						end
					end
										
					timestamp = Time.local(today.year, today.month, today.day, i).to_i
			%>
				<div id="t<%= timestamp %>" style="<%= bgcolor %> padding:0px; margin:0px; border-top: 1px solid silver; height: 15px; font-size:9px;"> </div>
			<%
					i += 0.5
					bgcolor = ""
					
					for hours in @teaching_hours
						if active and i >= hours[day][0] and i < hours[day][1]
							bgcolor = "background-color: #{hours[:color]};"
						end
					end

					timestamp = Time.local(today.year, today.month, today.day, i, 30).to_i
			%>
				<div id="t<%= timestamp %>" style="<%= bgcolor %> padding:0px; margin:0px;  border-top: 1px dotted silver; height: 15px; font-size:9px;"></div>
			<% end %>
		
		</td>
<% 
    end
%>
		</tr>
<% end %>
	</tbody>
</table>
</div>

<span id="mouseover_name" style="display: none;"></span>

<div id="event_dialog" style="display: none;" onmouseover="show_time = false;" onmouseout="show_time = true;">
	<%= form_tag '/admin/summer_lesson_add', :method => 'get', :id => 'add_lesson', :onsubmit => 'add_lesson(); return false;' %>
	<strong>Adding Lesson</strong><br />
	<span id="dialog_name"></span> @ <input type="text" id="dialog_time" name="time" size="7" />
	for <span id="dialog_duration_str"></span> minutes.<bt />
	<input type="submit" value="Add!"/> <button onclick="hide_dialog(); return false;">Cancel</button>
	<input type="hidden" name="schedule_id" id="dialog_schedule_id" value="" />
	<input type="hidden" name="duration" id="dialog_duration" value="" />
	</form>
</div>

<div id="xy" style="display: none;"></div>
