<h2>Session Editor</h2>

<% form_tag "/admin/session/save", :method => "post" , :id => "session_form" do -%>

<% if params[:id] %>
	<input type="hidden" id="session_id" name="id" value="<%= @current_session.id %>" />
<% end %>
<div class="form_box">
	<div class="form_element">
		<div class="check"><label>Session Name:</label></div>
		<%= text_field("csession", "name") %> e.g. Fall 2012, 2011~2012 School Year
	</div>
	
	<div id="dates">
		<div class="form_element">
			<div class="check"><label>First day of the session:</label></div>
			<%= date_select("csession", "first", :start_year => 2008) %>
		</div>

		<div class="form_element">
			<div class="check"><label>Last day of the session:</label></div>
			<%= date_select("csession", "last", :start_year => 2008) %>
		</div>
	</div>
</div>

<h3>Weekly Lesson Availability</h3>
<div class="form_box">
	<div style="text-align: right;">e.g. 4~5pm, 10:30am-2pm</div>
<% @schools.each_with_index do |school, i| -%>

	<div class="school">
		<div class="school_name"><%= school.name %></div>
	
		<table>
			<thead>
				<tr>
<% @days_of_the_week.each do |day| -%>
					<th><%= day %></th>
<% end -%>
				</tr>
			</thead>
			<tbody>
				<tr>
<% @days_of_the_week.each_with_index do |day, j| -%>
<% text = @availabilities ? @availabilities[school.id][j+1].join(",\n") : "" -%>
					<th><%= text_area_tag "schools[#{school.id}][#{j+1}]", text, :rows => 2, :cols => 9 %></th>
<% end -%>
				</tr>
			</tbody>
		</table>
	</div>
<% end -%>
</div>

<h3>Off days and Group Lessons</h3>

<div class="form_box">
	<span id="error" class="red">Please adjust the session start and end dates.</span>
	<div id="calendar">
	</div>
</div>


<h3>Registration Info</h3>
<div class="form_box">

	<div class="form_element">
		<%= check_box_tag "active_reg", "yes", @active %><label for="active_reg"> Activate Registration</label>
	</div>

	<div class="form_element">
		<div class="check"><label>Registration Type:</label></div>
		<%= select_tag("registration_type", @registration_type_opt) %>
	</div>


	<div class="form_element">
		<div class="check"><label>Registration Due Date:</label></div>
		<%= date_select("current_session", "due_date", :start_year => Time.now.year) %>
	</div>


	<div class="form_element">
		<div>Registration Info <small>(This information will be shown to the parents)</small>:</div>
		<%= text_area_tag "notice", @registration_notice, :rows => 5, :cols => 70, :id => "notice" %>
	</div>

	<div class="form_element">
		<div>Other Options</div>
		<ol id="option_list">
		<% @options.each_with_index do |opt, i| %>
			<li id="li_<%= i %>">
				<input type="text" class="opt" name="opt_name[<%= i %>]" value="<%= opt.text %>" />
				<select name="opt_type[<%= i %>]">
					<option value="checkbox" <%= 'selected="selected"' if opt.input_type == "checkbox" %>>Yes/No</option>
					<option value="dropdown" <%= 'selected="selected"' if opt.input_type == "dropdown" %>>Dropdown</option>
					<option value="text" <%= 'selected="selected"' if opt.input_type == "text" %>>Text</option>
					<option value="big_text" <%= 'selected="selected"' if opt.input_type == "big_text" %>>Big Text</option>
				</select>
				<a href="#" onclick="Effect.BlindUp('li_<%= i %>', {duration:0.3}); $(this).previous('input').value=''; return false;"><img src="/images/icons/x_small.png" class="icon" /></a>
			</li>
		<% end %>
		</ol>
		<a href="#" onclick="addOption(); return false;"><img src="/images/icons/add_small.png" class="icon"> Add option</a>
	</div>
</div>

<h3>Invoice Info</h3>
<div class="form_box">
	<div class="form_element">
		<div class="check"><label>Invoice Due Date:</label></div>
		<%= date_select("current_session", "invoice_due", :start_year => Time.now.year) %>
	</div>

	<div class="form_element">
		<div class="check"><label>Number of Lessons to be billed:</label></div>
        <%= text_field("csession", "lesson_count",  :size => 3) %>
	</div>

	<div class="form_element">
		<div class="check"><label>Number of group classes to be billed:</label></div>
        <%= text_field("csession", "group_count", :size => 3) %>
	</div>

    <p>Parents do NOT see the pricing information on the registration.</p>
	<div class="form_element">
        <table class="admin_table">
          <thead>
          <tr>
            <th></th>
            <th>Type</th>
            <th>Duration</th>
            <th>Unit Price</th>
          </tr>
          </thead>
          <tbody id="pricing_table">
          <% @pricings.each_with_index do |pricing, i| %>
            <!-- <%=debug pricing%> -->
          <tr id="pricing_<%=i%>" class="pricing">
            <td><button type="button" onClick="removePricing('pricing_<%=i%>');">Remove</button></td>
            <td>
              <input type="text" name="pricing_types[<%= i %>]" value="<%=pricing[:pricing_type]%>" />
            </td>
            <td>
              <% if pricing[:pricing_type] == Pricing::INDIVIDUAL %>
                <input type="number" style="width: 80px;" size="3" name="pricing_durations[<%= i %>]" value="<%=pricing.duration%>" /> Minutes
              <% else %>
                N/A
                <input type="hidden" name="pricing_durations[<%= i %>]" value="0" />
              <% end %>
            </td>
            <td>$<input type="number" style="width: 80px;" step="any" size="5" name="pricing_amounts[<%= i %>]" value="<%=pricing.price.to_f / 100%><%="0" if pricing.price & 10 == 0 %>" /></td>
          </tr>
          <% end %>
          </tbody>
        </table>

        <select id="pricing_type">
          <option value="<%=Pricing::INDIVIDUAL%>"><%=Pricing::INDIVIDUAL%></option>
          <option value="<%=Pricing::GROUP%>"><%=Pricing::GROUP%></option>
          <option value="<%=Pricing::REGISTRATION_FEE%>"><%=Pricing::REGISTRATION_FEE%></option>
          <option value="other">other</option>
        </select>
		<a href="#" onclick="addPricing(); return false;"><img src="/images/icons/add_small.png" class="icon"> Add Pricing</a>
	</div>
    
	<div class="form_element">
		<div class="check"><label>Invoice Message:</label></div>
        <%= text_area("csession", "invoice_message", :style => "width: 100%; height: 100px;") %>
	</div>
</div>


<div style="text-align: right; margin-top: 20px;">
<button class="iconbutton" id="form_submit" type="submit"><img src="/images/icons/calendar.png" class="icon"> Save this Session!</button>
</div>

<% end #form -%>
