<h2>Sessions</h2>


<table id="session_table" class="admin_table">
  <thead>
  <tr>
	<th></th>
	<th>Session Name</th>
	<th>First Day</th>
	<th>Last Day</th>
	<th>Ready?</th>
	<th>Edit</th>
	<th>Del</th>
  </tr>
  </thead>
  <tbody>
<% @sessions.each_with_index do |sess, i| %>
<% row_class = i % 2 == 0 ? "even" : "odd" %> 
  <tr class="<%= row_class %>">
	<% img = sess.is_active ? "icons/on.png" : "icons/off.png" %>
	<td align="center"><%= image_tag(img) %></td>
	<td><%= sess.name %></td>
	<td align="center"><%= sess.first %></td>
	<td align="center"><%= sess.last %></td>
  <td align="center"><input type="checkbox" <%= "checked=\"checked\"" if sess.is_ready%> onclick=" var url = '/admin/session/ready/<%=sess.id%>?authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>') + '&ready=' + ((this.checked) ? 'yes' : 'no'); new Ajax.Request(url); return true;"></td>
	<td align="center"><%= link_to(image_tag("icons/write.png"), :action => "edit", :id => sess) %></td>
	<td align="center"><%= link_to(image_tag("icons/x.png"), {:action => "delete", :id => sess}, :confirm => "Are you sure?\nThis action can NOT be undone.") %></td>
  </tr>
<% end %>
  </tbody>
</table>


<p><button class="iconbutton" onclick="window.location = '/admin/session/edit'"><img src="/images/icons/add.png" class="icon" /> Create a New Session</button></p>
