<h2>Create New Session</h2>

<% form_tag "/admin/session/create", :method => :post, :id => "session_form" do -%>

<div class="form_box">
	<%= error_messages_for :session %>
	<div class="form_element">
		<div class="check"><label>Session:</label></div>
		<%= select_tag("name", "<option>Spring</option><option selected=\"selected\">Summer</option><option>Fall</option>") %>
		<%= date_select("name", "year", :start_year => Time.now.year, :order => [:year]) %>
	</div>
	
	<div id="dates">
		<div class="form_element">
			<div class="check"><label>First day of the session:</label></div>
			<%= date_select("session", "first", :start_year => Time.now.year) %>
		</div>

		<div class="form_element">
			<div class="check"><label>Last day of the session:</label></div>
			<%= date_select("session", "last", :start_year => Time.now.year) %>
		</div>
	</div>
</div>

<h3>Weekly Lesson Availability</h3>
<div class="form_box">
	<div style="text-align: right;">e.g. 4~5pm, 10:30am-2pm</div>
<% @schools.each_with_index do |school, i| -%>

	<div class="school">
		<div class="school_name"><%= school.name %></div>
	
		<table>
			<thead>
				<tr>
<% @days_of_the_week.each do |day| -%>
					<th><%= day %></th>
<% end -%>
				</tr>
			</thead>
			<tbody>
				<tr>
<% @days_of_the_week.each_with_index do |day, j| -%>
					<th><%= text_area_tag "schools[#{school.id}_#{j+1}]", nil, :rows => 2, :cols => 9 %></th>
<% end -%>
				</tr>
			</tbody>
		</table>
	</div>
<% end -%>
</div>

<h3>Off days and Group Lessons</h3>

<div class="form_box">
	<span id="error" class="red">Please adjust the session start and end dates.</span>
	<div id="calendar">
	</div>
</div>

<div style="text-align: right; margin-top: 20px;">
<button class="iconbutton" id="form_submit" onclick="$('session_form').submit();"><img src="/images/icons/calendar.png" class="icon"> Save this  Session!</button>
</div>


<% end #form -%>
