<div id="bookedit">
<% if flash[:notice] %>

	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>
	
<% form_for @album, :url => { :action => "album_save" } do |f| -%>
	<div class="form_box">
		<div class="form_element">
			<div class="check">	<%= label(:album, :name, "Photobook Name") %></div>
			<%= f.text_field :name, :class => "text large" %>
		</div>

		<div class="form_element">
			<div class="check">	<%= label(:album, :description, "Photobook Description") %></div>
			<%= f.text_area :description, :class => "text", :cols => 50, :rows => 2 %>
		</div>
		
		
		<%= f.hidden_field :id %>
	</div>

	<% unless @photos.empty? %>

	<h3><%= image_tag "icons/photo.png", :class => "icon" %> Photos in this Photobook</h3>

	<table class="photolist">
		<thead>
			<tr>
				<th>
					<%= image_tag "icons/sun_small.png" %>
				</th>
				<th>
					<%= image_tag "icons/photo.png" %>
				</th>
				<th>
					Metadata
				</th>
				<th width="50">
					Delete
				</th>
			</tr>
		</thead>
		<tbody>

		<% @photos.each_with_index do |photo, i| %>
			<% row_class = i % 2 == 0 ? "even" : "odd" %> 
			

		<tr class="<%= row_class %>">
			<td>
				<%= f.radio_button :key_photo_id, photo.id %>
			</td>
			<td>
				<label for="album_key_photo_id_<%= photo.id %>"><%= image_tag photo.public_filename(:thumb), :class => "thumb" %></label>
			</td>

			<td class="metadata">
			
				<div class="form_element">
					<div class="check"><small>Name</small></div>
					<%= text_field_tag "photos[#{photo.id}][name]", photo.name, :class => "text" %>
				</div>
		
				<div class="form_element">
					<div class="check"><small>Description</small></div>
					<%= text_field_tag "photos[#{photo.id}][description]", photo.description, :class => "text" %>
				</div>

			</td>

			<td>
				<%= check_box_tag "photos[#{photo.id}][delete]", 1, false, :class => 'checkbox', :onclick => "var tr = $(this).up('tr'); if (this.checked) { tr.addClassName('delete'); } else { tr.removeClassName('delete'); }" %><label for="photos[<%= photo.id %>][delete]"> <%= image_tag "icons/x_small.png", :class => "icon" %></label>
			</td>
		</tr>

		<% end %>
	
	
	
		</tbody>

	</table>

	<div align="right"><small><a href="#" onclick=" $$('input.checkbox').each(function (cb) { cb.checked = false; var tr = cb.up('tr'); tr.removeClassName('delete'); }); return false;">Select None</a> | <a href="#" onclick="$$('input.checkbox').each(function (cb) { cb.checked = true; var tr = cb.up('tr'); tr.addClassName('delete'); }); return false;">Select All</a></small></div>
	
	
	<% end #unlexx photo is empty %>

	
	
		<p><button class="iconbutton" id="form_submit" onclick="if (submit_ok()) { $('edit_album_<%= @album.id -%>').submit(); $(this).setAttribute('disabled', 'disabled'); } else { return false; }"><img src="/images/icons/photo.png" class="icon" /> Save change!</button> &nbsp; &nbsp; <%= link_to "<img src=\"/images/icons/x_small.png\" class=\"icon\" /> <small>Cancel</small>", { :action => "album", :id => @album.id } %> </p>
	
	
	
<% end #form %>

</div>