<div id="photobook_app">

<div id="albums_thumb">

<% if @albums.length == 0 %>
<h3>OOPS! There aren't any photobooks yet!</h3>
<p>Please start a new photobook by clicking the button below</p>

<% else %>

<table cellpadding="0" cellspacing="10" border="0">
	<tbody>
	<% while !(row = @albums.slice!(0,4)).empty? %>
		<tr>
		<% for album in row %>
			<td width="200" valign="top">
				<% if album.photos.length == 0 && current_user.has_permission?(album) %>
					<%= link_to image_tag("/images/photoframe-trans.png", :width => "200", :height => "133", :class => "albumimage", :border => "0", :style => "background: url(/images/image_place_holder.png) no-repeat center center;"), { :action => "addphotos", :id => album.id } %><br />
				<% else %>
					<%= link_to image_tag("/images/photoframe-trans.png", :width => "200", :height => "133", :class => "albumimage", :border => "0", :style => "background: url(#{album.get_key_photo.public_filename(:list)}) no-repeat center center;"), { :action => "album", :id => album.id } %><br />
				<% end %>
					
				<div class="albumsummary">
					<h3><%= link_to album.name, { :action => "album", :id => album.id }, :class => "ablumtitle" %> <span class="counter">(<%= album.photos.size %>)</span></h3>
					<p>created by <%= album.user.get_name %><br /><%= album.updated_at.strftime('%B %e, %Y') %></p>
				</div>
			</td>
		<% end %>
		</tr>
	<% end %>
	</tbody>
</table>

<% end %>


</div>

<p><button class="iconbutton" onclick="window.location = '/photobook/new'"><img src="/images/icons/photobook.png" class="icon" /> Start a New Photobook</button></p>


</div>