


<div class="photo">
	
<% unless @prev_photo.nil? %>
	<a href="/photobook/photo/<%= "#{@prev_photo.id}/#{@size}" %>" id="prev_arrow" style="display: block; width: <%= (@view.width * 0.3).to_i %>px; height: <%= @view.height %>px; position: absolute; z-index: 5; margin-left: <%= @prev_margin_left %>px; margin-top: 10px;"><%= image_tag "placer.gif", :width => (@view.width * 0.3).to_i, :height => @view.height %></a>
<% end %>

<% unless @next_photo.nil? %>
	<a href="/photobook/photo/<%= "#{@next_photo.id}/#{@size}" %>" id="next_arrow" style="display: block; width: <%= (@view.width * 0.3).to_i %>px; height: <%= @view.height %>px; position: absolute; z-index: 5; margin-left: <%= @next_margin_left %>px; margin-top: 10px;"><%= image_tag "placer.gif", :width => (@view.width * 0.3).to_i, :height => @view.height %></a>
<% end %>

<% if @size == "big" %>
<div style="position: absolute;" ><%= link_to image_tag("buttons/zoomout.gif"), "/photobook/photo/#{@photo.id}" %></div>
<% end %>

<div class="shadow" style="background: url(http://sh.deviantart.com/shadow/FFFFFF-000000/5.6667-0.45/<%= "#{@view.width}/#{@view.height}" -%>/null.png) no-repeat center center; padding: 10px;"><%= image_tag @view.public_filename %></div>
</div>



	<p class="description" style="">
		<%= @photo.description %>
	</p>

	<a name="comments"></a>
	<div class="comments">

	<% unless @comments.empty? %>

		<h3>Comments</h3>

		<% for comment in @comments %>
		<div class="comment" id="comment<%= comment.id %>">
			<div class="avatar">
				<%= image_tag(avatar_thumbnail_path(comment.user.avatar)) %>
			</div>
		
			<div class="comment_text">
				<div class="commenter">
					<%= comment.user.fullname %> said,
				</div>
				<div class="meta">
					<%= comment.updated_at.strftime('%B %e, %Y - %I:%M%p') %> &#183;
					<% if current_user.has_permission? comment %>
					<%= link_to_remote "delete",
							:url => {
								:controller => "photobook",
								:action => "delete_comment",
								:id => comment.id
							},
							:loading => "$('comment#{comment.id}').addClassName('delete');",
							:complete => "Effect.Fade($('comment#{comment.id}'), {duration: 1});",
							:confirm => "Are you sure?"
					%>
					<% end %>
				</div>
				<div class="content">
					<%= simple_format(comment.content) %>
				</div>
			</div>
		</div>
		<% end %>

	<% end %>

	<a name="comment_form"></a>

		<h3><%= current_user.fullname %>, leave a comment!</h3>

		<div class="avatar">
			<%= image_tag(avatar_thumbnail_path(current_user.avatar)) %>
		</div>

		<div class="comment_text">
		<% form_for @new_comment, :url => { :action => "comment" } do |comment| -%>	
			<%= comment.text_area :content, :class => "text comment", :cols => 50, :rows => 4 %>
	
			<%= hidden_field_tag "comment[photo_id]", @photo.id, :id => "hidden_photo_id" %>
			<%= hidden_field_tag "comment[user_id]", current_user.id, :id => "hidden_user_id" %>
	
			<p><button class="iconbutton" id="form_submit" onclick="$('new_comment').submit();"><img src="/images/icons/write.png" class="icon" /> Say it!</button></p>
			
			<% if flash[:notice] %><div class="notice" style="width: 330px;"><%= flash[:notice] %></div><% end %>
		<% end %>

		</div>

		<p><a href="#top">^ top</a></p>
	</div>
