<div id="front_collage">
	<%= image_tag "frontpage/picA1.jpg" %><%= image_tag "frontpage/picA2.jpg" %><%= image_tag "frontpage/picA3.jpg" %><%= image_tag "frontpage/picA4.jpg" %><br />
	<%= image_tag "frontpage/picB1.jpg" %><%= image_tag "frontpage/picB2.jpg" %><%= image_tag "frontpage/picB3.jpg" %><%= image_tag "frontpage/picB4.jpg" %><br />
</div>

<!--
<div id="latest_news">
	<h3>Announcements:</h3>
	
	<ul>
		<li><span class="news_date">05-13-2009</span> You may now <a href="/register">register</a> for Summer 2009 session!</li>
			<li><span class="news_date">06-11-2008</span> <a href="/page/summer_schedule_2008">Lesson schedule for summer 2008</a> is now available!</li>
			<li><span class="news_date">04-28-2008</span> Are you a parent at our school? Please <a href="/account/signup">sign up</a> to gain access to the <a href="/photobook">photobook page</a>.</li>
			<li><span class="news_date">04-28-2008</span> Website Launches!</li>
	</ul>
</div>
-->
