<div id="front_collage">
	<%= image_tag "frontpage/picA1.jpg" %><%= image_tag "frontpage/picA2.jpg" %><%= image_tag "frontpage/picA3.jpg" %><%= image_tag "frontpage/picA4.jpg" %><br />
	<%= image_tag "frontpage/picB1.jpg" %><%= image_tag "frontpage/picB2.jpg" %><%= image_tag "frontpage/picB3.jpg" %><%= image_tag "frontpage/picB4.jpg" %><br />
</div>

<div id="latest_news">
	<h3>Announcements:</h3>
	
	<ul>
      <li><a href="/page/chms_registration">Registration</a> for Suzuki violin at Children's House is ready!</li>
        <!--
		<li><span class="news_date">05-13-2009</span> You may now <a href="/register">register</a> for Summer 2009 session!</li>
        -->
	</ul>
</div>
