<div id="front_collage">
	<%= image_tag "frontpage/picA1.jpg" %><%= image_tag "frontpage/picA2.jpg" %><%= image_tag "frontpage/picA3.jpg" %><%= image_tag "frontpage/picA4.jpg" %><br />
	<%= image_tag "frontpage/picB1.jpg" %><%= image_tag "frontpage/picB2.jpg" %><%= image_tag "frontpage/picB3.jpg" %><%= image_tag "frontpage/picB4.jpg" %><br />
</div>

<div id="latest_news">
	<h3>Latest News:</h3>

    <div id="updates">
    </div>

</div>
