<div id="front_collage">
	<%= image_tag "frontpage/picA1.jpg" %><%= image_tag "frontpage/picA2.jpg" %><%= image_tag "frontpage/picA3.jpg" %><%= image_tag "frontpage/picA4.jpg" %><br />
	<%= image_tag "frontpage/picB1.jpg" %><%= image_tag "frontpage/picB2.jpg" %><%= image_tag "frontpage/picB3.jpg" %><%= image_tag "frontpage/picB4.jpg" %><br />
</div>


<div id="latest_news">
	<h3>Announcements:</h3>
	
	<ul>
			<li><span class="news_date">04-28-2008</span> Are you a parent at our school? Please <a href="/account/signup">sign up</a> to gain access to the <a href="/photobook">photobook page</a>.</li>
			<li><span class="news_date">04-28-2008</span> Website Launches!</li>
<!--		<li><span class="news_date">04-02-2008</span> This is the lastest news item</li> -->
	</ul>
</div>