<div id="options">
	<div style="font-size: 8pt; text-align: right; margin-right: 20px; margin-bottom: 5px;">
		<a href="#cal" onclick="toggleView('cal');">View as Calendar</a> | 
		<a href="#list" onclick="toggleView('list');">View as List</a>
	</div>
</div>

<div id="side_list">
	<h3>Student List</h3>
	<p><small>Click on the name to see the lesson list</small></p>
	<ul>
	<% for student in @students %>
		<li>
			<table cellspacing="0" cellpadding="0" border="0"><tr><!--<td>
				<input type="checkbox" class="checkbox" id="st_check_<%= student.id %>" title="<%= student.id %>" onclick="return update_calendar(<%= student.id %>, this);" />
			</td>--><td>
				<label for="st_check_<%= student.id %>"><div class="studentname" style="background-color: #<%= @colors[student.id % 21] %>;" onclick="show_lesson_list(<%= student.id %>); return false;"><%= student.name %></div></label>
			</td><td width="20">
				<span id="lesson_count_<%= student.id %>"><a href="#" onclick="show_lesson_list(<%= student.id %>); return false;"><%= @schedules[student].size %></a></span>
				<div class="lesson_list" id="lesson_list_<%= student.id %>" style="display:none;">
					<div style="float:right;"><a href="#" onclick="close_lesson_list(<%= student.id %>); return false;">close</a></div>

					<strong><%= student.name %>'s Lessons</strong>
					<ul>
						<%= @student_lessons[student] %>
					</ul>
					
				</div>
			</td></table>
		</li>
	<% end %>
	</ul>
	<br />

	<h3>Jump to week</h3>
	<p>
	<% @numberofweeks.times do |week| %>
		<small><a href="#week<%= week %>"><%= week %></a></small>
	<% end %>
	</p>
</div>


<div id="calendar_table">
<table class="calendar main">
	<thead>
	<tr>
		<th width="30">Week</th>
		<th width="10">hrs</th>
		<th class="flex">Monday</th>
		<th class="flex">Tuesday</th>
		<th class="flex">Wednesday</th>
		<th class="flex">Thursday</th>
		<th class="flex">Friday</th>
		<th class="flex">Saturday</th>
	</tr>	
	</thead>
	<tbody>
<%
  @numberofweeks.times do |week|
%>
		<tr><td><a name="week<%= week %>"></a></td></tr>
		<tr>
			<th>
			<%= week %></th>
			<td  style="padding-top: 17px" valign="top">
				<% for i in (@day_start..@day_end)
						t = (i > 11) ? "#{i-12}pm" : "#{i}am"
						t = "12pm" if i == 12
				%>
					<div class="week_indicator"><%= t %></div>
				<% end %>
			</td>
<%
	for day in (1..6)
		today = @startdate + ((week * 7) + day)
		if @schedule[today.yday].nil?
			td_class = "not_active"
			active = false
		else
			td_class = "active"
			active = true
		end	
%>
		<td class="<%= td_class %>" valign="top">
			<div class="date"><%= today.strftime('%m/%d') %></div>
			<% for i in (@day_start..@day_end)
					bgcolor = ""

#					for hours in @teaching_hours
#						if active and i >= hours[day][0] and i < hours[day][1]
#							bgcolor = "background-color: #{hours[:color]};"
#						end
#					end
										
					timestamp = Time.local(today.year, today.month, today.day, i).to_i
			%>
				<div id="t<%= timestamp %>" style="<%= bgcolor %> padding:0px; margin:0px; border-top: 1px solid silver; height: 15px;">
					<%
						if @all_lessons[timestamp]
					%>
					<div onmouseover="showTimeBubble('<%= @all_lessons[timestamp][:student_name] %>','<%= @all_lessons[timestamp][:color] %>','<%= @all_lessons[timestamp][:time_string] %>');" onmouseout="hideTimeBubble();" class="lesson_bar" style="margin-top: <%= @all_lessons[timestamp][:offset] %>px; height: <%= @all_lessons[timestamp][:duration] - 3 - 1 %>px; background-color: #<%= @colors[@all_lessons[timestamp][:student_id] % 21] %>"><span class="lesson_text"><%= @all_lessons[timestamp][:name_string] %></span></div>

					<% end %>
				
				</div>
			<%
					i += 0.5
					bgcolor = ""
					
#					for hours in @teaching_hours
#						if active and i >= hours[day][0] and i < hours[day][1]
#							bgcolor = "background-color: #{hours[:color]};"
#						end
#					end

					timestamp = Time.local(today.year, today.month, today.day, i, 30).to_i
			%>
				<div id="t<%= timestamp %>" style="<%= bgcolor %> padding:0px; margin:0px;  border-top: 1px dotted silver; height: 15px; font-size:9px;">
				
					<%
						if @all_lessons[timestamp]
					%>
					<div onmouseover="showTimeBubble('<%= @all_lessons[timestamp][:student_name] %>','<%= @all_lessons[timestamp][:color] %>','<%= @all_lessons[timestamp][:time_string] %>');" onmouseout="hideTimeBubble();" class="lesson_bar" style="margin-top: <%= @all_lessons[timestamp][:offset] %>px; height: <%= @all_lessons[timestamp][:duration] - 3 - 1 %>px; background-color: #<%= @colors[@all_lessons[timestamp][:student_id] % 21] %>"><span class="lesson_text"><%= @all_lessons[timestamp][:name_string] %></span></div>

					<% end %>
				
					
				</div>
			<% end %>
		
		</td>
<% 
    end
%>
		</tr>
<% end %>
	</tbody>
</table>
</div>

<span id="timebubble" style="display: none;"></span>


<div id="calendar_list" style="display: none;">
<%
for student in @students
%>
	<div class="student_lesson_list">
		<h3 style="color: #<%= @colors[student.id % 21] %>"><%= "#{student.name}" %></h3>
		<ol>
<%
    for schedule in @schedules[student]
%>
		<li><%
		
		lesson_start = Time.local(schedule.selected.year, schedule.selected.month, schedule.selected.day, schedule.selected.hour, schedule.selected.min).to_i
        lesson_end = lesson_start + (schedule.summer_student.lesson_duration * 60)

      	if (student.name == "*Group" && schedule.selected.strftime('%m/%d') == "06/28")
%>

		<%= Time.at(lesson_start).strftime("<strike><strong>%a, %b. %d</strong></strike> <strong style=\"color:red;\">CANCELED</strong><br />%I:%M%p") + ' - ' + Time.at(lesson_end).strftime("%I:%M%p") %>

		<%
		else
		%>

        <%= Time.at(lesson_start).strftime("<strong>%a, %b. %d</strong><br />%I:%M%p") + ' - ' + Time.at(lesson_end).strftime("%I:%M%p") %>

		<%
		end
		%>


		</li>
<%
	end
%>
		</ol>
	</div>
<%
end
%>
</div>
