<h2>Lesson Schedules</h2>

<% @sessions.each do |sess| %>
  <h3><%= sess.name %></h3>
  <% current_user.get_registrations(sess).each do |r| %>
    <div class="student_schedule">
      <h4><%= r.student.to_s %></h4>
      <ol>
      <% if sess.registration_type == Session::DATE_TYPE %>
        <% r.lessons.each do |lesson| %>
        <li>
          <div class="lesson_date"><%= lesson.get_date %></div>
          <div class="lesson_time"><%= lesson.get_time %></div>
        </li>
        <% end%>
      <% else %>
<% #if recuring lessons, then let's figure out every lesson!
# assume one lesson per week

lesson = r.lessons[0].time
duration = r.lessons[0].duration

i = 1
while lesson <= sess.last
  if (sess.is_offday? lesson) || (sess.is_groupday?(lesson) && lesson.hour > 15)
    note = sess.get_note(lesson)
    if (sess.is_groupday?(lesson)) && note == ""
      note += "Due to group class"
    end
    unless note == ""
      note = "- " + note
    end
%>
        <li class="no_lesson">
          <div class="lesson_date"><%= lesson.strftime("%a, %b. %d") %></div>
          <div class="lesson_time ">No Lesson <%= note %></div>
        </li>
<%
  else
%>
        <li value="<%= i %>">
          <div class="lesson_date"><%= lesson.strftime("%a, %b. %d") %></div>
          <div class="lesson_time"><%= lesson.strftime("%I:%M%p") + " - " + (lesson + (duration * 60)).strftime("%I:%M%p") %></div>
        </li>
<%
    i += 1
  end
  lesson = Time.parse((lesson.to_date + 7).to_s + " " + lesson.strftime("%H:%M"))
end

%>
      <% end %>
      </ol>
    </div>
  <% end %>
  <div class="clear"></div>
  <hr />
<% end %>
