<h2>Lesson Schedules</h2>

<% @sessions.each do |sess| %>
  <h3><%= sess.name %></h3>




  <% current_user.get_registrations(sess).each do |r| %>
    <div class="student_schedule">
      <h4><%= r.student.to_s %></h4>
      <ol>
      <% if sess.registration_type == Session::DATE_TYPE %>
        <% r.lessons.each do |lesson| %>
        <li>
          <div class="lesson_date"><%= lesson.get_date %></div>
          <div class="lesson_time"><%= lesson.get_time %></div>
        </li>
        <% end%>
      <% else %>
<% #if recuring lessons, then let's figure out every lesson!
# assume one lesson per week

lesson = r.lessons[0].time
duration = r.lessons[0].duration

i = 1
while lesson <= sess.last
  if sess.is_offday? lesson
%>
        <li class="no_lesson">
          <div class="lesson_date"><%= lesson.strftime("%a, %b. %d") %></div>
          <div class="lesson_time ">No Lesson - <%= sess.get_note(lesson) %></div>
        </li>
<%
  else
%>
        <li value="<%= i %>">
          <div class="lesson_date"><%= lesson.strftime("%a, %b. %d") %></div>
          <div class="lesson_time"><%= lesson.strftime("%I:%M%p") + " - " + (lesson + (duration * 60)).strftime("%I:%M%p") %></div>
        </li>
<%
    i += 1
  end
  lesson = Time.parse((lesson.to_date + 7).to_s + " " + lesson.strftime("%H:%M"))
end

%>
      <% end %>
      </ol>
    </div>
  <% end %>
  <div class="clear"></div>


<%
  # draw academic calendar
  f = sess.first - (sess.first.day - 1)
  l = sess.last.next_month - sess.last.next_month.day
  for d in (f..l)
    if (d.day == 1)
      #new month!
%>
      <table class="default_table">
          <caption><%= d.strftime("%B") %></caption>
          <tr>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
          </tr>
          <tr>
<%
      d.wday.times do |i|
        %><td class="blank"></td><%
      end
    end 

    cls = []
    cls << d.strftime("%A")
    if sess.is_offday? d
      cls << "offday"
    end

    %><td><div class="day"><%= d.day %></div><div class="notes"><%= sess.get_note(d) %></div></td><%

    if (d.wday == 6)
        %></tr><%
    end

    if (d.next.day == 1)
      (5-d.wday).times do |i|
        %><td class="blank"></td><%
      end
      %></tr></table><%
    end
  end
%>






  <hr />
<% end %>
