<h2>SBC Registrations</h1>
<% if @sbcrs.size < 1 %>
   Currently, there are no registrations.
<% else %>

  <table class="admin_table sortable">
    <thead>
      <tr>
        <th class="nosort">Status</th>
        <th class="date-us">Registered At</th>
        <th class="text">Child</th>
        <th class="text">Parent</th>
        <th class="number">Age</th>
        <th class="text">Email</th>
        <th class="text">Mobile Phone</th>
        <th class="text">Address</th>
        <th class="nosort">Actions</th>
      </tr>
    </thead>
    <tbody>

      <% @sbcrs.each do |r| %>

        <tr id="r<%=r.id%>">

          <td align="center"><%= link_to_remote(image_tag(r.approved ? "/images/ok.png" : "/images/nok.png", :class=>"icon", :id => "s"+r.id.to_s), {:url => {:action=>"approve", :id=>r.id}, :loading => "$('s#{r.id}').src='/images/spinner.gif'", :complete => "if (request.responseText==='true') { $('s#{r.id}').src='/images/ok.png'; } else { $('s#{r.id}').src='/images/nok.png'; }"}) %></td>
          <td align="center" title="<%= r.created_at.strftime("%I:%M %p") %>"><%= r.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= "#{r.student.last_name}, #{r.student.first_name}" %></td>
          <td><%= "#{r.student.user.lastname}, #{r.student.user.firstname}" %></td>
          <td align="right"><%= r.student.age %></td>
          <td><%= r.student.user.email %></td>
          <td><%= r.student.user.mobile_phone %></td>
          <td><%= r.student.user.address %></td>
          
          <td align="center"><%= link_to_remote(image_tag("/images/icons/x_small.png", :class=>"icon"), {:url => {:action=>"delete", :id=>r.id}, :complete => "Effect.Fade('r#{r.id}');", :confirm=>"Are you sure?\nThis cannot be undone."}) %></td>
          

        </tr>


      <% end %>
      
    </tbody>
  </table>




<% end %>
