<p>If you have any questions about using this site, please send us an email by using the form below.</p>

<div class="form_box">
<% form_tag '/account/emailhelp' do %>
	
	<div class="form_element">
<% if logged_in? %>
		<div class="check"><label for="email">From:</label></div>
		<%= "<strong>#{current_user.fullname}</strong>" %>
<% else %>
		<div class="check"><label for="email">Your Email:</label></div>
		<%= text_field_tag "email[from]", nil , :class => "text", :size => 30 %>
<% end %>
	</div>
	
	<div class="form_element">
		<div class="check"><label for="email">To:</label></div>
<<<<<<< HEAD
		<%= "<strong>gwsms.org Administrator</strong>" %>
=======
		<%= "<strong>hcsuzukiviolin.com Administrator</strong>" %>
>>>>>>> deploy
	</div>
	
	<div class="form_element">
		<div class="check"><label for="content">Your question:</label></div>
		<%= text_area_tag 'email[content]', nil, :class => 'text', :rows => 13, :cols => 50 %>
	</div>
	
<% unless logged_in? %>
	<div class="form_element">
		<%= check_box_tag 'email[not_spam]' %> <label for="not_spam">I'm not a spam-bot.</label>
	</div>
<% else %>
		<%= hidden_field_tag 'email[not_spam]', '1' %>
<% end %>

	<div><%= submit_tag 'Send', :class => 'submit' %></div>
<% end %>
</div>
