<% @sessions.each do |sess| %>
  <h2><%= sess.name %> registrations</h2>
  <div class="meta">
    <ul>
      <li>Total Registered: <span id="total"><%= sess.registrations.length %></span></li>
    <% @schools.each do |school| %>
      <% r = school.registrations.find(:all, :conditions => {:session_id => sess.id}) %>
      <li><%= school.name %>: <span id="<%= school.name.gsub(" ","_") %>"><%= r.length %></span></li>
    <% end %>
    </ul>
  </div>

  
  <table class="admin_table sortable">
    <thead>
      <tr>
        <th class="date-us">Registered At</th>
        <th class="text">Student</th>
        <th class="text">Parent</th>
        <th class="text">School</th>
        <th class="number">Lesson</th>
        <th class="nosort" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% sess.registrations.each do |r| %>
        <tr id="r<%=r.id%>">
          <td align="center" title="<%= r.created_at.strftime("%I:%M %p") %>"><%= r.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= "#{r.student.last_name}, #{r.student.first_name}" %></td>
          <td><%= "#{r.student.user.lastname}, #{r.student.user.firstname}" %></td>
          <td><%= r.school.name %></td>
          <td><%= r.lesson_duration %></td>
          <td align="center">
            <a href="/register/for/<%=sess.name.gsub(" ","-")%>/<%=r.student.id%>"><%= image_tag "/images/icons/write_small.png", :class=>"icon" %> View/Edit</a>
          </td>
          <td align="center"><%= link_to_remote(image_tag("/images/icons/x_small.png", :class=>"icon"), {:url => {:action=>"delete", :id=>r.id}, :complete => "Effect.Fade('r#{r.id}'); var t = $('total'); t.update(parseInt(t.innerHTML) - 1); var s = $('#{r.school.name.gsub(" ","_")}'); s.update(parseInt(s.innerHTML) - 1);", :confirm=>"Are you sure?\nThis cannot be undone."}) %></td>
      <% end %>
    </tbody>
  </table>

  <button onclick="window.location = '/admin/registration/schedule/<%=sess.id%>'" type="button" class="iconbutton"><img src="/images/icons/calendar.png" class="icon"> Work on Schedule</button>

  <button onclick="window.location = '/admin/registration/all_table/<%=sess.id%>'" type="button" class="iconbutton">Show Registration Option Results</button>

<% end %>
