<h1>Editing <%= @user.firstname + " " + @user.lastname %></h1>


<div class="form_box">
	<%= error_messages_for :user %>

<% form_for @user, :url => { :controller => "/admin/users", :action => "update" } do |f| %>
	<%= f.hidden_field :id %>

	<p><%= label(:user, :firstname, "First Name") %><br/>
	<%= f.text_field :firstname, :class => "text" %></p>

	<p><%= label(:user, :lastname, "Last Name") %><br/>
	<%= f.text_field :lastname, :class => "text" %></p>

	<p><%= label(:user, :email, "Email") %><br/>
	<%= f.text_field :email, :class => "text" %></p>

	<p><%= label(:user, :email_confirmation, "Email Confirmation") %><br/>
	<%= f.text_field :email_confirmation, :class => "text" %></p>

	<p><%= label(:user, :password, "Password") %><br/>
	<%= f.password_field :password, :class => "text" %> <small>fill only to change the password</small></p>

	<p><%= label(:user, :password_confirmation, "Password Confirmation") %><br/>
	<%= f.password_field :password_confirmation, :class => "text" %></p>

	<p><%= f.check_box :is_admin %> <%= label(:user, :is_admin, "Admin") %></p>

	<p><%= f.check_box :activated %> <%= label(:user, :activated, "Activate") %></p>

    <p><%= f.submit "Update" %></p>
<% end %>
</div>


<p>
<%= link_to 'Show', @user %> |
<%= link_to 'Back to the List', users_path %>
</p>