<% @sessions.each_with_index do |sess, i| %>

<div class="session">
	<h2><%= sess.name %> Registrations</h2>
<% days_left = sess.due_date - Date.today %>
<% if days_left < 0 %>
	<div class="due_date" style="color: red;">Registration is now past due date.</div>
<% elsif days_left == 0 %>
	<div class="due_date">Due TODAY!</div>
<% elsif days_left == 1 %>
	<div class="due_date">Due TOMORROW!</div>
<% else %>
		<div class="due_date">Due in <%= sess.due_date - Date.today %> days on <%= sess.due_date.strftime("%m/%d/%Y") %></div>
<% end %>
	<div class="date"><strong>Lessons</strong>: <%= sess.first.strftime("%B %d, %Y") %> ~ <%= sess.last.strftime("%B %d, %Y") %></div>


	<table id="session_table" class="default_table">
		<thead>
		<tr>
			<th width="150">Students</th>
			<th width="200">Status</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
<%	@current_user.students.each_with_index do |student, j| -%>
<%		row_class = j % 2 == 0 ? "even" : "odd" %>
		<tr class="<%= row_class %>">
			<td><%= student %></td>
			<td>
<%=
			if student.registered? sess
				if student.confirmed? sess
					"<img src=\"/images/ok.png\" class=\"icon\"> Registered!" 
				else
					"<img src=\"/images/icons/processing.png\" class=\"icon\"> Being Processed"
				end
			else
				"<img src=\"/images/icons/exclamation.png\" class=\"icon\"> Not Registered"
			end
%>
			</td>
			<td>
                <% if days_left < 0 %>
                  <!--The registration is now closed. Late registration will open next week.-->
					<% if student.registered? sess %>
                        <a href="/register/for/<%= sess.name.gsub(/ /, '_') %>/<%= student.id %>"><img src="/images/icons/write.png" class="icon" /> Re-submit Registration</a>
					<% else %>
						<a href="/register/for/<%= sess.name.gsub(/ /, '_') %>/<%= student.id %>"><img src="/images/icons/write.png" class="icon" /> Register!</a>
					<% end %>
				<% else %>
					<% if student.registered? sess %>
                        <a href="/register/for/<%= sess.name.gsub(/ /, '_') %>/<%= student.id %>"><img src="/images/icons/write.png" class="icon" /> Re-submit Registration</a>
					<% else %>
						<a href="/register/for/<%= sess.name.gsub(/ /, '_') %>/<%= student.id %>"><img src="/images/icons/write.png" class="icon" /> Register!</a>
					<% end %>
				<% end %>
			</td>
		</tr>
<% 	end %>
		</tbody>
	</table>
	<div style="text-align: right; margin-top: 20px;">
		<button class="iconbutton" onclick="window.location='/register/for/<%= sess.name.gsub(/ /, '_') %>'" type="button"><img src="/images/icons/write.png" class="icon"> Register a new student!</button>
	</div>
	
</div>

<div class="divider"><img src="/images/swirly.gif" /></div>

<% end %>

