<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Greater Washington Suzuki Music School <%= "- #{@section_title}" if defined? @section_title %></title>
		
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Leading Suzuki music school in the greater Washington D.C metro politan area." />
		<meta name="keywords" content="violin, music, music school, violin school, music educaiton, school, Washington D.C., Hannah Choi" />
		<meta name="author" content="Hannah Choi" />
		
		<link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
		<link rel="icon" href="/images/favicon.png" type="image/png" /> 
		
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag "domready" %>
		<% if FileTest.exists?(File.join("public/javascripts", controller.controller_name, controller.action_name + ".js")) %>
			<%= javascript_include_tag File.join(controller.controller_name, controller.action_name + ".js") %>
		<% end %>
		<% if defined?(@javascripts): @javascripts.each { |script| javascript_include_tag script } end %>
		<!--[if lte IE 6]>
			<%= javascript_include_tag "supersleight-min" %>
		<![endif]-->
		
		<%= conditional_render_partial "addphotos" if controller.action_name == "addphotos" %>
	 
		<%= stylesheet_link_tag("default") %>
		<%= stylesheet_link_tag(get_current_theme_css()) %>
	<% if FileTest.exists?(File.join("public/stylesheets", get_current_theme_css(controller.controller_name) + ".css")) %>
		<%= stylesheet_link_tag(get_current_theme_css(controller.controller_name)) %>
	<% end %>
	
		
	</head>

	<body>
		<a name="top"></a>
		
		<div id="frame">
			<div id="banner_wrapper" class="<%= controller.controller_name %> <%= controller.controller_name + "_" + controller.action_name %>">
			<div id="banner" class="<%= controller.controller_name %> <%= controller.controller_name + "_" + controller.action_name %>">
				<div id="title" class="<%= controller.controller_name %> <%= controller.controller_name + "_" + controller.action_name %>">
					<h1>Hannah Choi's Suzuki Violin Studio</h1>
				</div>
			</div>
			</div>
			
			<div id="toolbar_wrapper">
			<div id="toolbar">
				<!-- TODO -->
				<div id="menu" class="<%= controller.controller_name %> <%= controller.controller_name + "_" + controller.action_name %>">
					<ul>
						<% home_class = (controller.controller_name == "page" and controller.action_name == "index") ? "home" : "" %>
						<li><%= link_to "Home", { :controller => "/page", :action => "index" }, :class => home_class %></li>
						<li><%= link_to "Photobook", { :controller => "/photobook", :action => "index" }, :class => "photobook" %></li>
						<li><%= link_to "Newsletter", { :controller => "/newsletter", :action => "index" }, :class => "newsletter" %></li>
					</ul>
				</div>
				
				<!-- login form -->
				<div id="login_frame" class="<%= controller.controller_name %> <%= controller.controller_name + "_" + controller.action_name %>">
					<% unless current_page?(:controller => '/account', :action => 'login') %>
						<% if logged_in? -%>
							<div id="logged_in">
								Welcome, <strong><%= current_user.firstname + " " + current_user.lastname %></strong>!
								<%= "|" if current_user.is_admin %>
								<%= link_to "Admin", { :controller => "/admin", :action => "index" } if current_user.is_admin %>
								| <%= link_to "Settings", { :controller => "/account", :action => "settings" } %>
								| <%= link_to "Logout", { :controller => "/account", :action => "logout" } %>
							</div>
						<% else %>
							<div id="show_login">
								<p><%= link_to "Login", { :controller => "/account", :action => "login" }, :onclick => "$('show_login').hide(); $('login_form').show(); $('login').focus(); return false;" %> or <%= link_to "Sign up!", { :controller => "/account", :action => "signup" } %></p>
							</div>
							<div id="login_form" style="display: none;">
								<% form_tag "/account/login" do -%>
								<p id="login_email"><label for="login">Email: </label> <%= text_field_tag 'login', nil, :class => 'text', :onfocus => "this.style.width = '120px';", :onblur => "this.style.width = '40px';" %></p>
								<p id="login_password"> &nbsp; <label for="password">Password: </label> <%= password_field_tag 'password', nil, :class => 'text' %></p>
								<p><%= check_box_tag 'remember_me' %> <label for="remember_me">Remember me</label></p>
								<p><%= submit_tag 'Log in', :class => 'submit' %></p>
								<p> <%= link_to image_tag('icons/x_small.png', :class => 'icon'), '#',  :onclick => "$('login_form').hide(); $('show_login').show(); return false;"%> </p>
							<% end -%>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
			</div>
			
			<div id="body" class="<%= controller.controller_name %> <%= controller.controller_name + "_" + controller.action_name %>">

<% if defined? @section_title %>
				<div id="section_title" class="<%= controller.controller_name %> <%= controller.controller_name + "_" + controller.action_name %>">
					<h2><span id="section_path"><%= @section_path %></span> <%= @section_title if defined? @section_title %></h2>
				</div>
<% end %>

				<div id="sidebar">
<% if defined? @submenu %>
					<div id="submenu">
						<ul>
						<% @submenu.each do |menu| %>
							<li>
							<% if menu.has_key?(:link) %>
								<%= link_to menu[:name], menu[:link], :class => "submenu" %>
							<% elsif menu.has_key?(:render) %>
								<div class="side_title"><%= menu[:name] %></div>
								<%= render :partial => menu[:render], :locals => menu[:locals] %>
							<% end %>
							</li>
						<% end %>
						</ul>
					</div>
<% end %>
				</div>

				<div id="<%= defined?(@submenu) ? "content" : "content_no_side" %>" class="<%= controller.controller_name %> <%= controller.controller_name + "_" + controller.action_name %>">
<%= yield %>
				</div>

			</div>
			
			
			<div id="footer">
				
			</div>
			
			
		</div>
		
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-2039529-2");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
	</body>
</html>